.list {
  position: relative;
}

.list .list-item .icon svg {
  @apply fill-white;
}

.list.active .list-item .icon svg {
  @apply fill-primary-500;
}

.list.active span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 20px;
  right: 0;
  @apply bg-white -top-5;
}

.list.active span:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  @apply rounded-br-2xl inset-0 bg-primary-500;
}

.list.active span:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 20px;
  right: 0;
  @apply bg-white -bottom-5;
}

.list.active span:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  @apply rounded-tr-2xl inset-0 bg-primary-500;
}
