@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .braintree-hosted-fields-invalid {
    @apply border-red-500;
  }
}

@font-face {
  font-family: "Palo";
  src: url("../public/fonts/palo-compressed.ttf");
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}
